.randomCocktail {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */

    /* width: 100%; */
    margin: 30px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: normal;
    height: 80%;
    font-size: 16px;
    overflow-y: auto;
}

.cocktailHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.cocktailLiked {
    flex-grow: 0;
    flex-basis: 0;
    color: #1B5E20;

    cursor: pointer;
    visibility: true;
}

.cocktailName {
    flex-grow: 5;
    margin-left: 30px;

    font-family: 'Rochester';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    text-align: center;
}

.cocktailImg {
    align-self: center;

    height: 200px;
    width: 200px;

    margin: 45px 0;
}

.cocktailBody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

p {
    margin: 0;
    text-align: left;
}

table {
    align-self: stretch;
    flex-grow: 1;
    flex-basis: 1;
    margin: 20px 0;
    width: 100%;

    border-collapse: collapse;
    border-style: hidden;
}

table td {
    border: 1px solid black;
    margin: 10px;
}

tr:not(:first-child) td:nth-child(2) {
    text-align: left;
}


.cocktailLiked:hover{
    color: gold;
}

@media screen and (max-width: 500px) {
    .randomCocktail{
        height: 75%;
    }
  }
